http:
  middlewares:
    auth:
      basicAuth:
        users:
          - "test:$apr1$uhOgm5GY$WYHL1kpXqfe6igCEkVutf."

  routers:
    traefik:
      rule: "Host(`127.0.0.1`) && PATH(`/traefik`)"
      service: api@internal
      middlewares:
        - auth

  services: {}
